<%= stylesheet_link_tag 'users_show', :media => "all" %>

<div class="trim-image-to-circle">
    <%= image_tag @user.image_url, size: "250x200" if @user.image? %>
</div>

<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>

    <p>フォローされているユーザー</p>
    <% @follower.each do |u| %>
        <div>
            <%= link_to u.email, user_path(u.id) %>
        </div>
    <% end %>

    <p>フォローしているユーザー</p>
    <% @following.each do |u| %>
        <div>
            <%= link_to u.email, user_path(u.id) %>
        </div>
    <% end %>

<% end %>

<% if @user.id == current_user.id %>
<% else %>
    <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    <% else %>
        <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
        <% end %>
    <% end %>
<% end %>

<h4>ユーザーの投稿一覧</h4>
<% @user.posts.each do |t| %>
    <%= t.user.name %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= t.content %>
    <%= t.created_at %>
<% end %>

<%= link_to "一覧へ", posts_path %>